@inherits LayoutComponentBase

<HeadContent>
    <link href="/css/app.css" rel="stylesheet" />
</HeadContent>

<div class="main-layout">
    <main class="main-content">
        @Body
    </main>
</div>
